.nav {
  grid-area: nav;

  padding: 1rem;
  margin-block: 1rem;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;

  display: grid;
  grid-template-areas:
    "logo quick quick"
    "logo social btn";
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: auto repeat(2, max-content);
  gap: 0.5rem 1.5rem;

  &__logo {
    grid-area: logo;
    height: 100%;
    aspect-ratio: 1 / 1;

    background: #000;
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.3rem;
    margin-right: auto;
    font-size: 3rem;
    font-weight: 700;

    display: grid;
    place-items: end;
  }

  &__quick-links {
    grid-area: quick;

    display: grid;
    grid-template-columns: subgrid;

    padding-block: 0.5rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: #000;
  }

  &__social-links {
    grid-area: social;

    & > * {
      display: inline-block;
    }

    &__icon {
      height: 3rem;
      width: 3rem;
    }
  }

  &__resume-link {
    grid-area: btn;

    position: relative;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 0.5rem 1rem;

    color: #000;
    border-radius: 0;
    border: 2px solid #000;
    background: none;
  }

  &__resume-link::after {
    position: absolute;
    display: inline-block;
    content: "";

    inset: 3.5px;
    z-index: -1;

    height: 105%;
    width: 105%;
    background: var(--color-accent);

    transition: all 0.2s;
  }

  &__resume-link:hover::after {
    inset: 0;
    height: 100%;
    width: 100%;
  }

  &__resume-link:active::after {
    inset: 0;
    height: 100%;
    width: 100%;
    background: rgba(249, 217, 106, 0.6);
  }
}
