.body {
  background: var(--color-neutral);
  color: var(--color-text);
  font-family: var(--font);
  height: 100vh;

  display: grid;
  grid-template-areas: 
    "nav nav nav"
    ". content .";
  grid-template-columns: 2rem auto 2rem;
  grid-template-rows: min-content auto;
}

